<IfModule mod_autoindex.c>

# FILE DESCRIPTIONS
# Add meta description bellow with complete correct file name.
AddDescription "Navigateur Web moderne et fiable" Firefox Setup 5.0.exe
AddDescription "Sources et aperçus du logo" logo PNLP

</IfModule>
