{% extends "base.html" %}

{% block title %}À propos de ce système{% endblock %}
{% block pagetitle %}<h1 class="pagetitle">Système d'information de routine sur le Paludisme</h1>{% endblock %}

{% block content %}
<div id="context">
<h2>Contexte Justification</h2>
<p>Le Programme National de Lutte contre le Paludisme (PNLP) s’est doté d’un Plan Stratégique de lutte contre le paludisme. Afin d’assurer efficacement le suivi et l’évaluation du niveau des indicateurs de processus, de résultats et d’impact du programme, le Plan Stratégique National est assorti d’un Plan Stratégique de Suivi Evaluation qui est le document unique de référence en matière de suivi évaluation des interventions de lutte contre le paludisme au Mali.</p>

<p>Dans le cadre de la mise en œuvre du Plan Stratégique de Suivi Evaluation et afin de renforcer les acquis du SLIS dans le domaine du paludisme, le Programme National de lutte contre le paludisme a initié, avec l’appui de PMI à travers MEASURE Evaluation et de l’OMS, un processus de renforcement du système d’information devant permettre de renseigner les indicateurs essentiels de routine sur le paludisme. Le système a démarré en phase pilote dans les districts sanitaires des Communes IV et Commune V de Bamako et le district de Baraoueli, d’avril à septembre 2009.</p>

<p>La phase 2 se déroule à l’échelle de toute la région sanitaire à Ségou et dans la Commune IV et Commune V de Bamako. Cette phase comporte un volet de transmission de données par téléphones portable (SMS).</p>

<h2>Objectif Général</h2>
<p>Renforcer le système d’information de routine sur le paludisme dans la Région de Ségou</p>

<h2>Objectifs Spécifiques</h2>

<ol>
<li>Développer des outils de collecte et de transmission des données utilisant les SMS par téléphone portable.</li>
<li>Développer une base de données centrale alimentée par SMS et accessible à l’ensemble des acteurs par internet,</li>
<li>Assurer la transmission régulière par SMS des données des CScom et CSréf du district de Markala vers la base de données centrale</li>
<li>Définir les mécanismes d’extension du système de transmission des données par SMS à d’autres districts.</li>
</ol>

<h2>Qui fait quoi ?</h2>
<p>Cet outil est sous la responsabilité du comité de pilotage du système éponyme.</p>
<p>En pratique, deux responsabilités se dégagent:</p>
<ul>
<li><strong>Responsabilité opérationelle</strong>: PNLP, Division planification, suivi/évaluation</li>
<li><strong>Responsabilité technique (informatique)</strong>: ANTIM.</li>
</ul>

<h2>Crédits</h2>
<p>Cet outil a été réalisé avec (entres autres) le concours des personnes suivantes:</p>
<ul>
<li>Dr Klénon TRAORE, Directeur PNLP</li>
<li>Dr Madina KONATE, PNLP</li>
<li>Dr Seydou Fomba, PNLP</li>
<li>Mr Ignace Traore, PNLP</li>
<li>Dr Abdoul Karim Doumbia, PNLP</li>
<li>Mme Safiatou Diawara, PNLP</li>
<li>Mr Amadou Diarra, PNLP</li>
<li>Dr Barasson Diarra, PNLP</li>
<li>Dr Halidou Sidibé, PNLP</li>
<li>Mme Aissata Dossou, PNLP</li>
<li>Mr Ousmane Pléa, PNLP</li>
<li>Dr Jean Marie N’GBICHI, Conseiller résidant MEASURE Evaluation</li>
<li>Dr Malick Yissibé KONE, MEASURE Evaluation</li>
<li>Dr Ousmane Ly, Directeur ANTIM</li>
<li>Mr Moussa Coulibaly, ANTIM</li>
<li>Mr Ousmane Fomba, ANTIM</li>
<li>Mr Karim Traoré, CPS/Secteur Santé</li>
<li>Dr Mamoutou Diabaté, chef section SLIS, DNS</li>
<li>Mme Goita Soula Fofana, DNS/SLIS</li>
<li>Mme Hawoye Cissé, DNS</li>
<li>Mr Renaud Gaudin, yɛlɛman</li>
<li>Mr Alou Dolo, yɛlɛman</li>
<li>Mr Ibrahima Fadiga, yɛlɛman</li>
<li>Dr Makan Fofana, CSRéf Baroueli</li>
</ul>
</div>
{% endblock %}
