{% extends "base.html" %}
{% load i18n %}

{% block title %}{% if user_id %}Modification de {{ provider.username }}{% else %}Création d'un compte utilisateur{% endif %}{% endblock %}
{% block pagetitle %}<h1 class="pagetitle">{% if user_id %}Modification du compte de {{ provider.name }} (<em class="lower">{{ provider.username }}</em>){% else %}Création d'un compte utilisateur{% endif %}</h1>{% endblock %}

{% block content %}
<h2>{% if user_id %}Modifier{% else %}Saisir{% endif %} les informations</h2>

{% if form.errors %}<p>Votre demande comporte des erreurs. Merci de les corriger et de reéssayer.</p>{% endif %}
<form method="POST" action="{% if user_id %}{% url edit_user user_id=user_id %}{% else %}{% url add_user %}{% endif %}" name="profile">
{% csrf_token %}
<table>
{% if user_id %}
<tr><th>Identifiant</th><td><input type="text" disabled="disabled" value="{{ provider.username }}" /></td></tr>
{% endif %}
{% csrf_token %}
{% for field in form.visible_fields %}
<tr><th>{{ field.label }}</th><td{%if field.errors %} class="error" title="{% for error in field.errors %}{{ error }}{% endfor %}"{% endif %}>{% if field %}{{ field }}{% endif %}</td></tr>
{% endfor %}
</table>
{% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
<button class="formbutt default">Enregistrer les modifications</button>
</form>
<p><strong>Note:</strong> Les roles nationaux (ANTIM, PNLP) ne sont pas lié à une entité.</p>
{% if user_id %}
<h2>Changer le mot de passe</h2>
<p>Dans le cas ou {{ provider.name }} aurait perdu son mot de passe, vous pouvez en créer un nouveau pour lui.</p>
<p>Une fois le nouveau créé, il lui sera impossible d'utiliser l'ancien et vous devrez communiquer rapidement ce nouveau mot de passe.</p>
{% if provider.email %}<p>{{ provider.name }} ayant enregistré son adresse e-mail, il recevra son nouveau mot de passe par e-mail immédiatement.</p>
{% else %}
<p>{{ provider.name }} n'ayant pas enregistré son adresse e-mail, vous seul pourrez lui communiquer son nouveau mot de passe.</p>
{% endif %}
<p><a href="{% url password_user provider.id %}"><button class="formbutt default">Générer un nouveau mot de passe</button></a></p>

<h2>{% if provider.is_active %}Désactiver le compte{% else %}Activer le compte{% endif %} <em class="lower">{{ provider.username }}</em></h2>
<p>Les comptes utilisateurs ne sont pas supprimables pour assurer l'intégrité des données.</p>
<p>Pour supprimer l'accès d'un utilisateur au système, il faut <em>désactiver</em> son compte.</p>
<p><a href="{% if provider.is_active %}{% url disable_user provider.id %}{% else %}{% url enable_user provider.id %}{% endif %}"><button class="formbutt default">{% if provider.is_active %}Désactiver le compte{% else %}Activer le compte{% endif %}</button></a></p>
{% endif %}
{% endblock %}
