<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>PNLP | Système fermé.</title>
    <link rel="stylesheet" media="screen" type="text/css" href="/static/pnlp.css" title="PNLP 2011" />
    <link rel="shortcut icon" href="/static/images/pnlp_favicon.png" />
    <meta http-equiv="Content-Language" content="fr-fr" />
    <meta name="ROBOTS" content="ALL" />
    <meta name="Copyright" content="PNLP, ANTIM, YELEMAN" />
    <meta name="keywords" content="pnlp, mali, paludisme, antim, sms" />
    <meta name="description" content="Système d'information de routine sur le Paludisme au Mali. Données SMS et Web." />
</head>
<body>
    <div id="page">
        <div id="header" class="mainbox">
            <div id="logo"></div>
            <h1><a href="/">PNLP – Programe National de Lutte contre le Paludisme</a></h1>
            
            <div id="breadcrumbs"></div>
            <div id="menu"></div>
        </div>
        <div id="content" class="mainbox default context download">
        <h1 class="pagetitle">Système d'information de routine sur le Paludisme</h1>
        <div id="context">
        <h2>Bienvenue sur le système de production</h2>
        <p>Ceci est l'adresse de production (données réelles) du système de routine Paludisme.</p>
        <p>Vous ne pouvez pas y accèder pour le moment car le PNLP en a interdit l'accès.</p>
        <p>L'accès à ce système sera ouvert une fois les formations terminées.</p>
        </div>
        </div>
        <div id="footer">
        </div>
        <div id="top-link"><a class="anchor" href="">↑Haut</a></div>
    </div>
</body>
<script type="text/javascript" src="/static/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/static/pnlp.js"></script>
<script type="text/javascript">$(document).ready(function(){addLogoClickEvent('/');});</script>
</html>
