{% extends "base.html" %}
{% load babel %}
{% load bolibana %}

{% block title %}Accueil{% endblock %}
{% block pagetitle %}<h1 class="pagetitle">Système d'information de routine sur le Paludisme</h1>{% endblock %}

{% block content %}

<div id="context">

<h2>Tableau de bord</h2>
<p>Bienvenue dans le système d'information de routine Paludisme du PNLP.</p>
<p>Ce tableau de bord vous donne un aperçu de l'état d'avancement de la collecte et de la transmission des données.</p>

<table class="center">
<tr><th>Mois en cours</th><td>{{ current_period.middle|datefmt:"MMMM yyyy" }}</td></tr>
<tr><th>Période de collecte en cours</th><td>{{ current_reporting_period.middle|datefmt:"MMMM yyyy" }}</td></tr>
<tr><th>Étape en cours</th><td>{{ current_stage|stage }}</td></tr>
<tr><th>SMS reçus / envoyés en {{ current_period.middle|datefmt:"MMMM yyyy" }}</th><td>{{ current_sms.0 }} / {{ current_sms.1 }}</td></tr>
<tr><th>SMS reçus / envoyés en {{ current_reporting_period.middle|datefmt:"MMMM yyyy" }}</th><td>{{ current_reporting_sms.0 }} / {{ current_reporting_sms.1 }}</td></tr>
<tr><th>Établissement enregistrés dans le système</th><td>{{ total_cscom }}</td></tr>
</table>

<h2>Avancement de la collecte/transmission</h2>
<table class="center">
<tr><th>Établissement ayant envoyés leur rapport</th><td>{{ received_cscom_reports }}</td></tr>
<tr><th>Rapports primaires validés</th><td>{{ cscom_reports_validated }}</td></tr>
<tr><th>Rapports de districts validés</th><td>{{ district_reports_validated }}</td></tr>
<tr><th>Taux de rapportage</th><td class="reporting_rate {{ reporting_rate|rate_class }}">{{ reporting_rate|percent:2 }}</td></tr>
</table>

{% if time_cscom_over %}
<h2>Établissement n'ayant pas transmis les données ce mois-ci</h2>
{% if cscom_missed_report %}
    <p>Ce mois-ci, <strong>{{ cscom_missed_report_count }} CSCom{{ cscom_missed_report_count|pluralize }}</strong> n'ont pas transmis.{% if cscom_missed_report_count > 20 %} Seuls les 20 premiers sont affichés ci-dessous.{% endif %}</p>
    <table class="center">
    <tr><th>Établissement</th><th class="center">Code</th><th class="center">Contact</th><th class="center">Téléphone</th></tr>
    {% for entity, contact in cscom_missed_report %}
    <tr><td class="left">{{ entity.display_name }}</td><td>{{ entity.slug }}</td><td>{{ contact.name_access}}</td><td>{{ contact.phone_number|phone }}</td></tr>
    {% endfor %}
    </table>
{% else %}
<p>Tous les Établissements ont transmis les données à temps. Bravo!</p>
{% endif %}
{% endif %}

{% if time_district_over and districts_missed_report.values %}
<h2>Districts n'ayant pas validés tous leurs rapports</h2>
<table class="center">
<tr><th>District</th><th class="center">Nb auto-validés</th><th class="center">Contact</th><th class="center">Téléphone</th></tr>
{% for data in districts_missed_report.values %}
<tr><td class="left">{{ data.entity.display_full_name }}</td><td>{{ data.nbauto }}</td><td>{{ contact.name_access}}</td><td>{{ contact.phone_number|phone }}</td></tr>
{% endfor %}
</table>
{% endif %}

{% if time_region_over and regions_missed_report.values %}
<h2>Régions n'ayant pas validés tous leurs rapports</h2>
<table class="center">
<tr><th>Région</th><th class="center">Nb auto-validés</th><th class="center">Contact</th><th class="center">Téléphone</th></tr>
{% for data in regions_missed_report.values %}
<tr><td class="left">{{ data.entity.display_full_name }}</td><td>{{ data.nbauto }}</td><td>{{ contact.name_access}}</td><td>{{ contact.phone_number|phone }}</td></tr>
{% endfor %}
</table>
{% endif %}

</div>

{% endblock %}
