{% extends "base.html" %}
{% load babel %}
{% load pnlp %}

{% block title %}Accueil{% endblock %}
{% block pagetitle %}<h1 class="pagetitle">Système d'information de routine sur le Paludisme</h1>{% endblock %}

{% block content %}

<div id="context">

<h2>Tableau de bord</h2>
<p>Bienvenue dans le système d'information de routine Paludisme du PNLP.</p>
<p>Ce tableau de bord vous donne un aperçu de l'état d'avancement de la collecte et de la transmission des données.</p>

<table class="center">
<tr><th>Mois en cours</th><td>{{ current_period.middle|datefmt:"MMMM yyyy" }}</td></tr>
<tr><th>Période de collecte en cours</th><td>{{ current_reporting_period.middle|datefmt:"MMMM yyyy" }}</td></tr>
<tr><th>Étape en cours</th><td>{{ current_stage|stage }}</td></tr>
<tr><th>SMS reçus / envoyés en juin 2011</th><td>{{ current_sms.0 }} / {{ current_sms.1 }}</td></tr>
<tr><th>SMS reçus / envoyés en juillet 2011</th><td>{{ current_reporting_sms.0 }} / {{ current_reporting_sms.1 }}</td></tr>
<tr><th>CSCom enregistrés dans le système</th><td>{{ total_cscom }}</td></tr>
</table>

<h2>Avancement de la collecte/transmission</h2>
<table class="center">
<tr><th>CSCom ayant envoyés leur rapport</th><td>{{ received_cscom_reports }}</td></tr>
<tr><th>Rapports primaires validés</th><td>{{ cscom_reports_validated }}</td></tr>
<tr><th>Rapports de districts validés</th><td>{{ district_reports_validated }}</td></tr>
<tr><th>Taux de rapportage</th><td class="reporting_rate {{ reporting_rate|rate_class }}">{{ reporting_rate|percent }}</td></tr>
</table>

{% if time_cscom_over %}
<h2>CSCom n'ayant pas transmis les données ce mois-ci</h2>
<table class="center">
<tr><th>CSCom</th><th class="center">Contact</th></tr>
<tr><td class="left">Baguineda/Blah</td><td>75 22 45 14</td></tr>
<tr><td class="left">Tiby/Markala</td><td>75 45 45 10</td></tr>
</table>
{% endif %}

{% if time_district_over%}
<h2>Districts n'ayant pas validés tous leurs rapports</h2>
<table class="center">
<tr><th>District</th><th class="center">Nb auto-validés</th><th class="center">Contact</th></tr>
<tr><td class="left">Baguineda/Blah</td><td>4</td><td>75 22 45 14</td></tr>
</table>
{% endif %}

{% if time_region_over %}
<h2>Régions n'ayant pas validés tous leurs rapports</h2>
<table class="center">
<tr><th>Région</th><th class="center">Nb auto-validés</th><th class="center">Contact</th></tr>
<tr><td class="left">Ségou</td><td>18</td><td>75 22 45 11</td></tr>
</table>
{% endif %}

</div>

{% endblock %}
