{% extends "base.html" %}
{% load i18n %}

{% block title %}Accueil{% endblock %}
{% block pagetitle %}<h1 class="pagetitle">Système d'information de routine sur le Paludisme</h1>{% endblock %}

{% block content %}

<div id="context">
<p>Bienvenue dans le système d'information de routine Paludisme du PNLP.</p>

<h2>Tableau de bord</h2>

<table>
<tr><td>Période de rapportage en cours</td><td>juin 2011</td></tr>
<tr><td>Étape en cours</td><td>Validation districts</td></tr>
</table>
</div>

{% endblock %}
