{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "My Profile" %}{% endblock %}
{% block pagetitle %}<h1 class="pagetitle">{% trans "My Profile" %}</h1>{% endblock %}

{% block content %}
<h2>{% trans "My personnal informations" %}</h2>
<form method="POST" action="{% url profile %}" name="profile">
{% csrf_token %}
<table>
<tr><th>Identifiant</th><td>{{ provider.username }}</td></tr>
<tr><th>Accès</th><td>{{ provider.first_access }}</td></tr>
{{ form.as_table }}
</table>
<button class="formbutt default">Enregistrer les modifications</button>
</form>

<h2>{% trans "Change password" %}</h2>

<form method="POST" action="{% url profile %}" name="passwd">
{% csrf_token %}
<table>
{{ passwd_form.as_table }}
</table>
<button class="formbutt default">{% trans "Change password" %}</button>
</form>
{% endblock %}
