{% extends "base.html" %}
{% load i18n %}
{% load babel %}
{% load pnlp %}

{% block title %}Indicateurs{% endblock %}
{% block pagetitle %}<h1 class="pagetitle"></h1>{% endblock %}
{% block page-name %}context{% endblock %}

{% block submenu %}{% include "submenu.html" with content="data_browser" report=report entity=web_provider.first_role paths=paths base_url="indicator_data"|url:"0" %}{% endblock %}

{% block jqueryonload %}
{% endblock %}

{% block content %}
<div id="context">
<p>herr</p>
</div>
{% endblock %}
