{% extends "base.html" %}
{% load i18n %}
{% load babel %}
{% load pnlp %}

{% block title %}Indicateurs{% endblock %}
{% block pagetitle %}<h1 class="pagetitle">Données de {{ entity.display_full_name }}, {% if speriod == eperiod %}{{ speriod.middle|datefmt:"MMMM yyyy" }}{% else %}{{ speriod.middle|datefmt:"MMMM yyyy" }} à {{ eperiod.middle|datefmt:"MMMM yyyy" }}{% endif %}</h1>{% endblock %}
{% block page-name %}context{% endblock %}
{% block content-class %}withsidebar{% endblock %}

{% block submenu %}{% include "submenu.html" with content="data_browser" report=report entity=web_provider.first_role paths=paths base_url="indicator_data"|url:"0" %}{% endblock %}

{% block jqueryonload %}
    {% for widget in widgets %}
    {% if widget.type == 'graph' %}
        {% include "indicator_graph.js" with graph=widget id=widget.id|concat:forloop.counter0 %}
    {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}

<div id="sidebar" class="sections">
    <ul class="main">
    {% for sec in sections %}
    <li{% if section.id == sec.id %} class="hover"{% endif %} title="{{ sec.label }}"><a href="{% url indicator_data entity_code=entity.slug period_str=period_str section=sec.id %}">SECTION {{ sec.id }}</a></li>
    {% if sec.sections %}<ul>{% for ssid, ssname in sec.sections.items %}<li{% if section.id == sec.id and sub_section == ssid %} class="hover"{% endif %}><a href="{% url indicator_data entity_code=entity.slug period_str=period_str section=sec.id sub_section=ssid %}">{{ ssname }}</a></li>{% endfor %}</ul>{% endif %}
    {% endfor %}
    </ul>
</div>

{% if periods %}
<div id="period_nav"><p>Périodes de {% include "generic_select.html" with class="browser" items=periods selected=speriod.pid datefilter="MMMM YYYY" id="speriod_select" %} à {% include "generic_select.html" with class="browser" items=periods selected=eperiod.pid datefilter="MMMM YYYY" id="eperiod_select" %}</select></p></div>
{% endif %}

<h2 class="pagetitle sub">Section {{ section.id }} – {{ section.label }}{% if sub_section %} / {{ sub_section|pnlpcat }}{% endif %}</h2>

<div id="context">

{% for widget in widgets %}
{% if widget.type == 'graph' %}
<h3 class="caption"><strong>{{ widget.name }}.</strong> {{ widget.caption }}</h3>
<div id="{{ widget.id|concat:forloop.counter0 }}"></div>
{% else %}
    {% include "indicator_table.html" with table=widget id=widget.id|concat:forloop.counter0 %}
{% endif %}
{% endfor %}
<div id='next-container' style='clear:right;'></div>
</div>
{% endblock %}
