{% load babel %}{% load bolibana %}
<table id="{{ id }}" class="center">
<caption><strong>{{ table.name }}.</strong> {{ table.caption }}</caption>
<tr><th rowspan="2">{{ table.title }}</th>{% for p in table.periods %}<th{% if table.options.with_percentage %} colspan="2"{% endif %} class="center">{{ p.middle|datefmt:"MMMM YYYY" }}</th>{% endfor %}{% if table.options.with_total %}<th class="center">Total</th>{% endif %}</tr>
<tr>{% for p in table.periods %}<th class="center">Nbre</th>{% if table.options.with_percentage %}<th class="center">%</th>{% endif %}{% endfor %}{% if table.options.with_total %}<th class="center">Nbre</th>{% endif %}</tr>
{% for key, line in table.data_unsorted.items %}
<tr{% if line.reference %} class="reference"{% endif %}>{% if line.blank %}<td colspan="{{ table.columns }}" class="nodata">&nbsp;</td>{% else %}<th class="left">{{ line.label }}</th>{% for pid, lvalue in line.values.items|sorted %}<td>{{ lvalue.value|default_if_none:"n/a" }}</td>{% if table.options.with_percentage %}<td>{{ lvalue.percent|default_if_none:"n/a"|percent }}</td>{% endif %}{% endfor %}{% if table.options.with_total %}<td colspan="2"><strong>{{ line.total.value }}</strong></td>{% endif %}{% endif %}</tr>
{% endfor %}
</table>
