{% extends "base.html" %}
{% load bolibana %}
{% block title %}Numéros Malitel à recharger{% endblock %}
{% block pagetitle %}<h1 class="pagetitle">Liste des numéros à créditer</h1>{% endblock %}
{% block content-class %}context{% endblock %}

{% block content %}
<style type="text/css" media="print">
body { background: white; font-size: 10pt; }
#header, #footer, #menu, #top-link { display: none; }
h1, h2 { display: none; }
#content { width: auto; margin: 0; padding: 0; border: 0; color: black; background: transparent none; }
table, tr, td, th { with: auto; border: 1px solid #2d2d2d; padding: 0; margin: 0; }
td {  width: 25%; }
</style>
<div id="context">
<table>
<tr><th>Numéro téléphone</th><th>CSCom</th><th>OK ?</th></tr>
<tr><td>{{ "62417500"|phone }}</td><td>Banido</td><td></td></tr>
<tr><td>{{ "62417501"|phone }}</td><td>Baroueli</td><td></td></tr>
<tr><td>{{ "62417502"|phone }}</td><td>Boidie</td><td></td></tr>
<tr><td>{{ "62417503"|phone }}</td><td>Dioforongo</td><td></td></tr>
<tr><td>{{ "62417504"|phone }}</td><td>Dotembougou</td><td></td></tr>
<tr><td>{{ "62417505"|phone }}</td><td>Dougoufe</td><td></td></tr>
<tr><td>{{ "62417506"|phone }}</td><td>Garna</td><td></td></tr>
<tr><td>{{ "62417507"|phone }}</td><td>Guendo</td><td></td></tr>
<tr><td>{{ "62417508"|phone }}</td><td>Kalake</td><td></td></tr>
<tr><td>{{ "62417509"|phone }}</td><td>Konobougou</td><td></td></tr>
<tr><td>{{ "62417510"|phone }}</td><td>Moabougou</td><td></td></tr>
<tr><td>{{ "62417511"|phone }}</td><td>M'pebougou</td><td></td></tr>
<tr><td>{{ "62417512"|phone }}</td><td>N'djilla</td><td></td></tr>
<tr><td>{{ "62417513"|phone }}</td><td>N'gassola</td><td></td></tr>
<tr><td>{{ "62417514"|phone }}</td><td>Nianzana</td><td></td></tr>
<tr><td>{{ "62417515"|phone }}</td><td>Sanando</td><td></td></tr>
<tr><td>{{ "62417516"|phone }}</td><td>Seguela</td><td></td></tr>
<tr><td>{{ "62417517"|phone }}</td><td>Somo</td><td></td></tr>
<tr><td>{{ "62417518"|phone }}</td><td>Tamani</td><td></td></tr>
<tr><td>{{ "62417519"|phone }}</td><td>Tesserela</td><td></td></tr>
<tr><td>{{ "62417520"|phone }}</td><td>Tigui</td><td></td></tr>
<tr><td>{{ "62417521"|phone }}</td><td>Wondobougou</td><td></td></tr>
<tr><td>{{ "62417522"|phone }}</td><td>Yerebougou</td><td></td></tr>
<tr><td>{{ "62417523"|phone }}</td><td>KOLONGO</td><td></td></tr>
<tr><td>{{ "62417524"|phone }}</td><td>FOLOMANA</td><td></td></tr>
<tr><td>{{ "62417525"|phone }}</td><td>KARA</td><td></td></tr>
<tr><td>{{ "62417526"|phone }}</td><td>KERMETOGO</td><td></td></tr>
<tr><td>{{ "62417527"|phone }}</td><td>KOE</td><td></td></tr>
<tr><td>{{ "62417528"|phone }}</td><td>KOKRY</td><td></td></tr>
<tr><td>{{ "62417529"|phone }}</td><td>MACINA CENTRAL</td><td></td></tr>
<tr><td>{{ "62417530"|phone }}</td><td>MONIMPE</td><td></td></tr>
<tr><td>{{ "62417531"|phone }}</td><td>N'GOLOKOUNA</td><td></td></tr>
<tr><td>{{ "62417532"|phone }}</td><td>OULAN</td><td></td></tr>
<tr><td>{{ "62417533"|phone }}</td><td>SARRO</td><td></td></tr>
<tr><td>{{ "62417534"|phone }}</td><td>SAYE</td><td></td></tr>
<tr><td>{{ "62417535"|phone }}</td><td>SOULEYE</td><td></td></tr>
<tr><td>{{ "62417536"|phone }}</td><td>SOUMOUNI</td><td></td></tr>
<tr><td>{{ "62417537"|phone }}</td><td>TONGUE</td><td></td></tr>
<tr><td>{{ "62417538"|phone }}</td><td>MATOMO</td><td></td></tr>
<tr><td>{{ "62417539"|phone }}</td><td></td><td></td></tr>
<tr><td>{{ "62417540"|phone }}</td><td></td><td></td></tr>
<tr><td>{{ "62417541"|phone }}</td><td></td><td></td></tr>
<tr><td>{{ "62417542"|phone }}</td><td></td><td></td></tr>
<tr><td>{{ "62417543"|phone }}</td><td></tr>
</table>
</div>
{% endblock %}

