{% if web_provider.is_authenticated %}
    <ul>
    {% if level = 'district' or level = 'region' %}
    <li {% if category = 'upload' %}class="hover"{% endif %}><a href="{% url upload %}">Saisie</a></li>
    <li {% if category = 'validation' %}class="hover"{% endif %}><a href="{% url validation %}">Validation</a></li>
    {% endif %}
    <li {% if category = 'raw_data' %}class="hover"{% endif %}><a href="{% url raw_data %}">Données brutes</a></li>
    <li {% if category = 'indicator_data' %}class="hover"{% endif %}><a href="{% url indicator_data %}">Données analysées</a></li>
    {% if web_provider.first_role.slug == 'antim' %}
    <li {% if category = 'users' %}class="hover"{% endif %}><a href="{% url list_users %}">Utilisateurs</a></li>
    <li><a href="##">Établissements</a></li>
    {% else %}

    {% endif %}
    </ul>
{% else %}
{% endif %}
