{% if web_provider.is_authenticated %}
    <ul>
    <li {% if category = 'upload' %}class="hover"{% endif %}><a href="{% url upload %}">Saisie</a></li>
    <li><a href="#vs">Validation</a></li>
    <li><a href="#vs">Données brutes</a></li>
    <li><a href="#vs">Données analysées</a></li>
    {% if web_provider.main_role.slug == 'antim' %}
    <li {% if category = 'users' %}class="hover"{% endif %}><a href="{% url list_users %}">Utilisateurs</a></li>
    <li><a href="##">Établissements</a></li>
    {% else %}

    {% endif %}
    </ul>
{% else %}
{% endif %}
