{% extends "base.html" %}
{% load i18n %}
{% load babel %}
{% load pnlp %}

{% block title %}{% if no_report %}Aucun rapport disponible{% else %}Données brutes du rapport {{ report.receipt }}{% endif %}{% endblock %}
{% block pagetitle %}<h1 class="pagetitle">{% if no_report %}Aucun rapport disponible{% else %}Rapport de {{ report.entity.display_full_name }}, {{ report.period.middle|datefmt:"MMMM yyyy" }}{% endif %}</h1>{% endblock %}
{% block page-name %}context{% endblock %}

{% block submenu %}{% if no_report %}{% else %}{% include "submenu.html" with content="data_browser" report=report entity=web_provider.main_role paths=paths %}{% endif %}{% endblock %}

{% block jqueryonload %}
{% endblock %}

{% block content %}
{% if no_report %}
{% else %}
<div id="period_nav"><p>Période {% include "generic_select.html" with class="browser" items=periods selected=period datefilter="MMMM YYYY" %}</select></p></div>
{% endif %}

<div id="context">

{% if no_report %}
<p>Désolé, il n'existe <strong>aucun</strong> rapport validé auquel vous puissiez accèder.</p>
<p>Peut-être devriez-vous revenir plus tard…</p>
{%else %}

<p>Rapport de {{ report.entity.display_name }} pour la période de {{ report.period.middle|datefmt:"MMMM yyyy" }}</p>
<p><strong>Type de rapport</strong>: {{ report.type|reporttype }}</p>
<p><strong>Nº de reçu</strong>: {{ report.receipt }}</p>
<p><strong>Auteur</strong>: {{ report.created_by.name_access }}</p>
<p><strong>Créé le</strong>: {{ report.created_on|datetimefmt }}</p>
<p><strong>Modifié par</strong>: {{ report.modified_by.name_access }} le {{ report.modified_on|datetimefmt }}</p>
<div class="rightbuttons"><a href=""><button class="formbutt download">Télécharger une version Excel du rapport</button></a></div>
<table class="center">
<tr><th rowspan="2" class="center">Classification</th><th colspan="3" class="center">Consultation</th></tr>
<tr><th class="center">Moins de 5 ans</th><th class="center">5 ans et plus</th><th class="center">Femmes enceintes</th></tr>
{% include "report_form_row.html" with f1=form.u5_total_consultation_all_causes f2=form.o5_total_consultation_all_causes f3=form.pw_total_consultation_all_causes dataonly=1 %}
{% include "report_form_row.html" with f1=form.u5_total_suspected_malaria_cases f2=form.o5_total_suspected_malaria_cases f3=form.pw_total_suspected_malaria_cases dataonly=1 %}
{% include "report_form_row.html" with f1=form.u5_total_simple_malaria_cases f2=form.o5_total_simple_malaria_cases f3=form.pw_total_simple_malaria_cases dataonly=1 %}
{% include "report_form_row.html" with f1=form.u5_total_severe_malaria_cases f2=form.o5_total_severe_malaria_cases f3=form.pw_total_severe_malaria_cases dataonly=1 %}
{% include "report_form_row.html" with f1=form.u5_total_tested_malaria_cases f2=form.o5_total_tested_malaria_cases f3=form.pw_total_tested_malaria_cases dataonly=1 %}
{% include "report_form_row.html" with f1=form.u5_total_confirmed_malaria_cases f2=form.o5_total_confirmed_malaria_cases f3=form.pw_total_confirmed_malaria_cases dataonly=1 %}
{% include "report_form_row.html" with f1=form.u5_total_treated_malaria_cases f2=form.o5_total_treated_malaria_cases f3=form.pw_total_treated_malaria_cases dataonly=1 %}
<tr class="spacer"><td colspan="4">&nbsp;</td></tr>
<tr><th rowspan="2" class="center">Classification</th><th colspan="3" class="center">Hospitalisations</th></tr>
<tr><th class="center">Moins de 5 ans</th><th class="center">5 ans et plus</th><th class="center">Femmes enceintes</th></tr>
{% include "report_form_row.html" with f1=form.u5_total_inpatient_all_causes f2=form.o5_total_inpatient_all_causes f3=form.pw_total_inpatient_all_causes dataonly=1 %}
{% include "report_form_row.html" with f1=form.u5_total_malaria_inpatient f2=form.o5_total_malaria_inpatient f3=form.pw_total_malaria_inpatient dataonly=1 %}
<tr class="spacer"><td colspan="4">&nbsp;</td></tr>
<tr><th rowspan="2" class="center">Classification</th><th colspan="3" class="center">Décès</th></tr>
<tr><th class="center">Moins de 5 ans</th><th class="center">5 ans et plus</th><th class="center">Femmes enceintes</th></tr>
{% include "report_form_row.html" with f1=form.u5_total_death_all_causes f2=form.o5_total_death_all_causes f3=form.pw_total_death_all_causes dataonly=1 %}
{% include "report_form_row.html" with f1=form.u5_total_malaria_death f2=form.o5_total_malaria_death f3=form.pw_total_malaria_death dataonly=1 %}
<tr class="spacer"><td colspan="4">&nbsp;</td></tr>
<tr><th rowspan="2" class="center">Classification</th><th colspan="3" class="center">MILD distribués</th></tr>
<tr><th class="center">Moins de 5 ans</th><th class="center">5 ans et plus</th><th class="center">Femmes enceintes</th></tr>
{% include "report_form_row.html" with f1=form.u5_total_distributed_bednets f3=form.pw_total_distributed_bednets dataonly=1 %}
<tr class="spacer"><td colspan="4">&nbsp;</td></tr>
<tr><th rowspan="1" class="center">Classification</th><th colspan="3" class="center">CPN/SP des femmes enceintes</th></tr>
{% include "report_form_row.html" with f3=form.pw_total_anc1 dataonly=1 %}
{% include "report_form_row.html" with f3=form.pw_total_sp1 dataonly=1 %}
{% include "report_form_row.html" with f3=form.pw_total_sp2 dataonly=1 %}
</table>

<table class="center">
<tr><th>CTA</th><th class="center">{{ form.stockout_act_children.label_tag }}</th><th class="center">{{ form.stockout_act_youth.label_tag }}</th><th class="center">{{ form.stockout_act_adult.label_tag }}</th></tr>
{% include "report_form_row.html" with so=1 f1=form.stockout_act_children f2=form.stockout_act_youth f3=form.stockout_act_adult dataonly=1 %}
<tr class="spacer"><td colspan="4">&nbsp;</td></tr>
<tr><th>PEC de Paludisme grave</th><th class="center">{{ form.stockout_artemether.label_tag }}</th><th class="center">{{ form.stockout_quinine.label_tag }}</th><th class="center">{{ form.stockout_serum.label_tag }}</th></tr>
{% include "report_form_row.html" with so=1 f1=form.stockout_artemether f2=form.stockout_quinine f3=form.stockout_serum dataonly=1 %}
<tr class="spacer"><td colspan="4">&nbsp;</td></tr>
<tr><th></th><th class="center">{{ form.stockout_bednet.label_tag }}</th><th class="center">{{ form.stockout_rdt.label_tag }}</th><th class="center">{{ form.stockout_sp.label_tag }}</th></tr>
{% include "report_form_row.html" with so=1 f1=form.stockout_bednet f2=form.stockout_rdt f3=form.stockout_sp dataonly=1 %}
</table>
{% endif %}
</div>
{% endblock %}
