{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load excel %}

{% block title %}Envoi d'un formulaire de saisie{% endblock %}
{% block pagetitle %}<h1 class="pagetitle">Envoyer un rapport de CSCom</h1>{% endblock %}
{% block page-name %}context{% endblock %}

{% block jqueryonload %}
$("#excel-form").mouseleave(function(event) {
    value = "Parcourir…";
    if ($(this).val())
        value = $(this).val();
    $("#fakefield").prop('value', value);
});
{% endblock %}

{% block content %}
<div id="context">
<p>Cliquez sur <em>Parcourir…</em> et sélectionnez le formulaire de saisie (rempli) que vous souhaitez envoyer.</p>
<p><strong>Attention</strong>: Il doit contenir le code établissement ainsi que la période concernée. Vérifier que ceux-ci sont correct avant l'envoi.</p>
<form method="POST" action="{% url upload %}" name="upload" enctype="multipart/form-data">
{% csrf_token %}
<div class="fileinputs">
    <input id="excel-form" type="file" size="24" name="excel_form" class="file hidden" />
    <div class="fakefile">
		<input id="fakefield" value="Parcourir…" />
		<span class="button">Parcourir…</span>
	</div>
    <input type="submit" id="send" value="Envoyer le fichier" />
</div>
</form>
{% if status %}
    {% if status = 'nofile' %}<h2>Échec d'envoi du formulaire</h2><p>Aucun fichier n'a été reçu. Vous devez cliquer sur <em>Parcourir…</em> et choisir un fichier Excel à envoyer.</p>
    {% endif %}
    {% if status = 'ok' %}<h2>Félicitations, rapport accepté</h2>
        <p>Votre rapport de routine Paludisme a bien été reçu et a été <strong class="bright">accepté</strong>.</p>
        <p>Il concerne le CSCom de {{ instance.entity.display_full_name }} pour la période {{ instance.period.name }}</p>
        <p>Votre numéro de reçu est le <strong class="bright">#{{ instance.receipt }}</strong>. Reportez le sur le formulaire papier et conservez le.</p>
        <p>Les données de ce rapport sont dès à présent disponibles dans la section <a href="#">Validation</a>.</p>
    {% endif %}
    {% if status = 'error' %}<h2>Échec, rapport refusé</h2>
        <p>Votre rapport de routine Paludisme a bien été reçu mais a été <strong class="bright">refusé</strong>.</p>
        <p>En effet, celui-ci contient {{ all_errors|length|apnumber }} erreur{% if all_errors|length > 0 %}s{% endif %} détaillées ci-dessous. Corrigez-les et re-envoyez le fichier.</p>
        <p>En cas de problème, consultez l'<a href="{% url help %}">aide</a>.</p>
        <h2>Liste des erreurs</h2>
        {% for section, errors in all_errors.items %}
        <h3>Section {{ section|pnlpcat }}</h3>
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    {% endif %}

{% endif %}
</div>
{% endblock %}
