{% extends "base.html" %}
{% load i18n %}
{% load babel %}
{% load humanize %}
{% load pnlp %}

{% block title %}Rapports en attente de validation{% endblock %}
{% block pagetitle %}<h1 class="pagetitle">Rapports à valider pour la période de {{ current_reporting_period.middle|datefmt:"MMMM yyyy" }}</h1>{% endblock %}
{% block content-class %}{% if validated %}context withsidebar{% endif %}{% endblock %}

{% block jqueryonload %}addJQEventsForValidationList();{% endblock %}

{% block content %}
{% if validation_over %}
    <h2>Délai de validation expiré</h2>
    <p>La période de validation pour le mois de <strong>{{ current_reporting_period.middle|datefmt:"MMMM yyyy" }}</strong> est expirée.</p>
    {% if level = 'district' %}
    <p>Vous pouvez valider les rapports des Établissement entre le 1<sup>er</sup> et le 5 du mois suivant.</p>
    {% else %}
    <p>Vous pouvez valider les rapports des CSRéf entre le 1<sup>er</sup> et le 15 du mois suivant.</p>
    {% endif %}
    <p>Une fois passé ce délai, les rapports sont automatiquement validés.</p>
{% else %}
    {% if validated %}
    <div id="sidebar">
        <h2>Rapports validés</h2>
        <ul>
        {% for entity, report in validated %}
        <li><strong>{{ entity.name }}</strong><br />{{ report.modified_on|datefmt:"dd MMMM YYYY" }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    <h2>Rapports en attente de validation</h2>
    {% if not_validated %}
    <table id="not_validated" class="background">
    <tr><th>Établissement</th><th>Reçu le</th><th>Contact</th><th>Téléphone</th></tr>
    {% for entity, report in not_validated %}
    <tr><td><a href="{% url report_validation report.receipt %}">{{ entity.name }}</a></td><td>{{ report.created_on }}</td><td>{{ report.created_by.name_access }}</td><td>{{ report.created_by.phone_number|phone }}</td></tr>
    {% endfor %}
    </table>
    {% else %}
    <p>Aucun rapport en attente de validation.{% if not_sent %} Il manque par contre {{ not_sent|length }} rapports.{% endif %}</p>
    {% endif %}

    <h2>Rapports non encore envoyés</h2>
    {% if not_sent %}
    <p>Il y a <strong>{{ not_sent|length }} rapports</strong> en attente.</p>
    <p>Il est de votre responsabilité de contacter les personnes concernés afin que la transmission ait lieu dans les temps.</p>
    <table class="background">
    <tr><th>Établissement</th><th>Contact</th><th>Téléphone</th></tr>
    {% for entity, contact in not_sent %}
    <tr><td>{{ entity.name }}</td><td>{{ contact.name_access }}</td><td>{{ contact.phone_number|phone }}</td></tr>
    {% endfor %}
    </table>
    {% if level = 'district' %}
    <p>Les rapports de Établissement non reçu à temps seront rejetés et donc non comptabilisés.</p>
    {% endif %}
    {% else %}
    <p>Tous les rapports ont été envoyés.</p>
    {% endif %}
{% endif %}
<div id='next-container' style='clear:right;'></div>
{% endblock %}
