{% load bolibana %}
{% if web_provider.is_authenticated %}
    <ul>
    <li {% if menu = 'reprod' %}class="hover"{% endif %}><a href="{% url reprod_index %}">REPRODUCTION</a></li>
    <li {% if menu = 'palu' %}class="hover"{% endif %}><a href="{% url index %}">PALUDISME</a></li>
    <li {% if menu = 'epid' %}class="hover"{% endif %}><a href="{% url epid_index %}">EPI HEBDO</a></li>
    <li {% if category = 'addressbook' %}class="hover"{% endif %}><a href="{% url addressbook %}">Annuaire</a></li>
    {% if web_provider|has_permission:'can_manage_users' %}<li {% if category = 'users' %}class="hover"{% endif %}><a href="{% url list_users %}">Utilisateurs</a></li>{% endif %}
    {% if web_provider|has_permission:'can_manage_entities' %}<li {% if category = 'entities' %}class="hover"{% endif %}><a href="{% url list_entities %}">Établissements</a></li>{% endif %}
    {% if web_provider|has_permission:'can_monitor_transmission' %}<li {% if menu = 'surv' %}class="hover"{% endif %}><a href="{% url monitoring_transmission %}">SURVEILLANCE</a></li>{% endif %}
    </ul>
{% else %}
{% if fortune %}<ul><li title="[{{ fortune.0 }}] {{ fortune.2 }}">{{ fortune.1 }}</li></ul>{% endif %}
{% endif %}
