{% extends "base.html" %}
{% load i18n %}
{% load bolibana %}

{% block title %}
{% if no_report %}Rapport indisponible
{% else %}Données brutes du rapport {{ report.receipt }}{% endif %}
{% endblock %}

{% block pagetitle %}
<h1 class="pagetitle">{% if no_report %}Rapport indisponible{% else %}Rapport de {{ report.entity.display_full_name }}, {{ period.full_name }}{% endif %}</h1>
{% endblock %}

{% block subsubmenu %}{% include "raw_data_subsubmenu.html" with content="data_browser" report=report entity=web_provider.role paths=paths base_url='raw_data'|url0:project %}{% endblock %}

{% block page-name %}context{% endblock %}

{% block jqueryonload %}
addJQEventsSubMenu("{% url 'raw_data' project %}", "{% url 'raw_data' project 0 %}");
addJQEventPeriodChange("{% url 'raw_data' project 'ent_code' '11-1111' %}", "{{ entity.slug }}");
addJQEventToggleSources();
{% endblock %}

{% block content %}

{% if periods %}
<div id="period_nav" {% if report.status < 4 %}class="unvalidated" title="Ce rapport n'a pas encore été validé."{% endif %}>
<p>Période {% if no_report %}{% include "generic_select.html" with class="browser" items=periods selected=period.pid filter="full_name" id="period_select" novalue=" - - - - "%}
           {% else %}{% include "generic_select.html" with class="browser" items=periods selected=period.pid filter="full_name" id="period_select" %}{% endif %}</select></p></div>
{% endif %}

<div id="context">

{% if not expected %}
<p>Aucun rapport attendu pour {{ period.full_name }} à {{ entity.display_full_name }}.</p>
{% else %}
    {% if no_report %}
        <p>Désolé, il n'existe pas de rapport validé pour pour la période de {{ period.full_name }} à {{ entity.display_full_name }}.</p>
        {% if periods %}
        <p>Cependant, il existe {{ periods|length}} autre rapport{{ periods|length|pluralize }} pour {{ entity.display_full_name }}. Séléctionnez une autre période pour y accèder.</p>
        {% endif %}

    {%else %}

        <p>Rapport de {{ report.entity.display_name }} pour la période {{ report.period.full_name }}</p>
        <p><strong>Nº de reçu</strong>: {{ report.receipt }}</p>
        <p><strong>Auteur</strong>: {{ report.created_by.name_access }}</p>
        <p><strong>Créé le</strong>: {{ report.created_on|date:"DATETIME_FORMAT" }}</p>
        <p><strong>Modifié par</strong>: {{ report.modified_by.name_access }} le {{ report.modified_on|date:"DATETIME_FORMAT" }}</p>
        <p><strong>Type de rapport</strong>: {{ report.type|reporttype }}</p>
        {% if report.type == 0 %}
        	<p><strong>En retard </strong>: {% if report.is_late %} OUI {% else %} NON {% endif %}</p>
        {% endif %}
        {% if greport.is_aggregated %}
        <p><strong>Sources</strong>: <a id="toggle_sources" href="#">{{ report.sources.all|length}} source{{ report.sources.all|pluralize }}</a> compose{{ report.sources.all|pluralize:"nt" }} ce rapport agrégé.</p>

        <ul id="sources" class="hidden">
        {% for source in report.sources.all %}
        <li>{{ source.entity.display_name }} – <a href="{% url 'raw_data' project source.entity.slug source.mperiod.pid %}">{{ source.receipt }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}

        <div class="rightbuttons"><a href="{% url 'raw_data_excel' project report.receipt %}"><button class="formbutt download">Télécharger une version Excel du rapport</button></a></div>

        {% block raw_data_content %}{% endblock %}

    {% endif %}
{% endif %}
</div>
{% endblock %}
