{% extends "base.html" %}
{% load bolibana %}
{% block title %}Numéros Malitel à recharger{% endblock %}
{% block pagetitle %}<h1 class="pagetitle">Liste des numéros à créditer</h1>{% endblock %}
{% block submenu %}{% include "submenutrans.html" %}{% endblock %}
{% block content-class %}context{% endblock %}

{% block content %}
<style type="text/css" media="print">
body { background: white; font-size: 10pt; }
#header, #footer, #menu, #top-link { display: none; }
h1, h2 { display: none; }
#content { width: auto; margin: 0; padding: 0; border: 0; color: black; background: transparent none; }
table, tr, td, th { with: auto; border: 1px solid #2d2d2d; padding: 0; margin: 0; }
td {  width: 25%; }
</style>
<div id="context">
<table>
    <tr><th>CSCom</th><th>Numéro téléphone</th><th>OK ?</th></tr>
    {% for entity in entities %}
        <tr><td>{{entity.name}}/{{entity.name.parent}}</td><td>{{ entity.contact|phone }}</td><td></td></tr>
    {% endfor %}
</table>
<h2>*111*100*numero*11111#</h2>
</div>
{% endblock %}

